<div class="container">
  <header class="header">
    <div class="container-do-header">

      <div class="logo">
        <h3 class="a-logo">OMNIX</h3>
      </div>
      <div class="a-links">
        <a routerLink="/home" class="link-home">Home</a>
      </div>

    </div>
  </header>

  <aside class="aside">
    <div class="wrapper">
      <div class="oferta">
        <div class="center-texto">
          <h1 class="oferta-titulo"> Oferta 1</h1>
        </div>
      </div>
      <div class="saberMais">
        <div class="center-texto">
          <h2 class="preco">R$50.99</h2>
        </div>
      </div>
    </div>
    <button class="btn-o">Saber mais</button>
  </aside>

  <main class="main">
    <div class="wrapper">
      <div class="oferta">
        <div class="center-texto">
          <h1 class="oferta-titulo"> Oferta 2</h1>
        </div>
      </div>
      <div class="saberMais">
        <div class="center-texto">
          <h2 class="preco">+ R$50.99</h2>
        </div>
      </div>
    </div>
    <button class="btn-o">Saber mais</button>
  </main>

  <section class="section">
    <div class="wrapper">
      <div class="oferta">
        <div class="center-texto">
          <h1 class="oferta-titulo"> Oferta 3</h1>
        </div>
      </div>
      <div class="saberMais">
        <div class="center-texto">
          <h2 class="preco">+ R$50.99</h2>
        </div>
      </div>
    </div>
    <button class="btn-o">Saber mais</button>
  </section>

  <div class="btn">
    <button class="button" routerLink="/home">Voltar</button>
  </div>

  <footer class="footer">
    <p>Created by ... © 2021</p>
  </footer>

</div>
